.nav-bar {
  background-color: white;
  border-bottom: 1px solid $twitter-light-grey;
  height: 46px;

  .grid-container {
    @include outer-container;

    .left-nav, .right-nav {
      @include span-columns(5);
    }

    .logo {
      @include span-columns(2);
      color: $twitter-bird;
      font-size: 1.5em;
      text-align: center;
    }

    .search-bar {
      #search-bar{
        border-radius: 50px;
        background-color: $twitter-white;
      }
    }
  }
}

.icon {
  color: $twitter-grey;
  display: inline-block;
  font-size: 0.8em;
  letter-spacing: 0.01em;
  position: relative;
  width: 115px;
  height: 0px;
  transition: all $base-duration * 2;
  min-width: 115px;
  min-height: 0px;

  &::after {
    content: "";
    position: absolute;
    left: -7px;
    bottom: -40px;
    width: inherit;
    height: inherit;
    background-color: $twitter-blue;
  }

  &:hover {
    color: $twitter-blue;
    transition: $base-duration * 2;
    height: 5px;
  }
  .fa {
    margin: 11px 4px 0 10px;
    font-size: $base-spacing;
  }
}

.profile-shortcut {
  width: 32px;
  height: 32px;

  img {
  border: 1px solid $medium-gray;
  border-radius: 5px;
  }
}
