$navbar-height: 46px;

.nav-bar {
  position: relative;
  background-color: white;
  border-bottom: 1px solid $twitter-light-grey;
  height: $navbar-height;

  .grid-container {
    @include outer-container;
    height: $navbar-height;

    .logo {
      position: absolute;
      left: 50%;
      top: 2px;
      color: $twitter-bird;
      font-size: 1.5em;
      text-align: center;
    }

    .left-nav, .right-nav {
      font-size: 0.8em;
      letter-spacing: 0.01em;
    }

    .left-nav {
      float: left;
    }

    .right-nav {
      float: right;
      line-height: $navbar-height;

      li {
        float: right;
      }
    }
  }
}
