.right-nav {

  .search-bar {
    height: 32px;
    width: 70%;
    position: relative;
    left: -50px;
    top: -30px;
    color: $twitter-mid-grey;

    #search-bar{
      border: 1px solid $twitter-light-grey;
      padding-left: $small-spacing;
      border-radius: 21px;
      background-color: $twitter-white;
    }

    .fa-search{
      position: absolute;
      top: 0.6em;
      right: 0.6em;
    }
  }

  .profile-shortcut {
    width: 32px;
    height: 32px;
    margin-right: $small-spacing;
    margin-top: $base-spacing / 3 ;
    border: 1px solid $medium-gray;
    border-radius: 5px;
  }
}
