.icon {
  color: $twitter-grey;
  float: left;
  height: $navbar-height;
  overflow: hidden;
}

.label-icon {
  border-bottom: 5px solid $twitter-blue;
  display: block;
  height: $navbar-height + 5px;
  line-height: 1;
  padding: 0 14px 0 4px;
  transition: all $base-duration * 2;

  &:hover {
    color: $twitter-blue;
    height: 45px;
  }

  span {
    letter-spacing: 0.03em;
    font-size: 13px;
  }

  .fa {
    margin: 11px 0 0 10px;
    font-size: $navbar-height / 2;
  }
}
