.icon {
  color: $twitter-grey;
  float: left;
  height: $navbar-height;
  overflow: hidden;
}

.label-icon {
  border-bottom: 5px solid $twitter-blue;
  display: block;
  height: $navbar-height + 5px;
  line-height: 1;
  padding: 0 14px 0 4px;
  transition: all $base-duration * 2;

  &:hover {
    color: $twitter-blue;
    height: 45px;
  }
}

li .fa {
  margin: 11px 0 0 10px;
  font-size: 1.4em;
}

li span {
  letter-spacing: 0.03em;
}
