$component-size : 32px;
.right-nav li:not(.tweeter-button) {
  margin: 7px $base-spacing 0 0;
}

.search-bar {
  color: $twitter-mid-grey;
  height: $component-size;
  position: relative;
  width: 221px;

  .fa-search {
    position: absolute;
    top: 0.6em;
    right: 0.6em;
  }
}

#search-bar {
  background-color: $twitter-white;
  border: 1px solid $twitter-light-grey;
  border-radius: 21px;
  padding-left: $small-spacing;
  font-weight: 200;
  font-size: 12px;

  &:focus {
    background-color: white;
    box-shadow: none
  }
}

.profile-shortcut {
  width: $component-size;
  height: $component-size;
  border: 1px solid $medium-gray;
  border-radius: 5px;
}

.fa-pencil {
  font-size: $navbar-height / 2;
}

button {
  padding: 5px 13px 5px 14px;

  .text {
    margin-left: 3px;
  }
}
