.profile-infos {
  $base-spacing: 1.5em !default;
  $base-font-color: $twitter-mid-grey;
  $stats-color: $twitter-blue;

  padding: $base-spacing / 2;

  // ul {
  //   //padding: 0;
  // }

  li {
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }
  }

  span {
    color: $base-font-color;
    display: block;
    letter-spacing: 0.05em;
    font-size: 0.55em;
    font-weight: 200;
    text-transform: uppercase;
  }
}

.profile-picture {
  display: inline-block !important;
  border-radius: 6px;
  background-color: #fff;
  //margin: -30px 0 0 8px;
  padding: 1px;
  //vertical-align: bottom;

  img {
    border-radius: 7px;
    border: 2px solid #fff;
    height: 72px;
    //width: 72px;
  }
}

.dashboard-profile {
  background-image: url(http://24.media.tumblr.com/b6f2b616890ee090fca2421ee91af6dd/tumblr_mq7oxwSe3x1sramtho1_500.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -40px;
}
