<nav class="nav-bar">
    <div class="grid-container">
      <div class="clearfix">
        <div class="left-nav">
          <ul>
            <li class="accueil icon">
              <a href="#" class="label-icon">
                <i class="fa fa-home fa-fw"></i>
                <span class="text">Accueil</span>
              </a>
            </li>
            <li class="notif icon">
              <a href="#" class="label-icon">
                <i class="fa fa-bell fa-fw"></i>
                <span class="text">Notifications</span>
              </a>
            </li>
            <li class="messages icon">
              <a href="#" class="label-icon">
                <i class="fa fa-envelope fa-fw"></i>
                <span class="text">Messages</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="logo"><i class="fa fa-twitter"></i></div>
        <div class="right-nav">
          <ul>
            <li class="tweeter-button">
              <button name="tweet-button">
                <i class="fa fa-pencil"></i>
                <span class="text">Tweeter</span>
              </button>
            </li>
            <li class="profile-shortcut"><img src="https://pbs.twimg.com/profile_images/637414809357709312/ePANi0hH_bigger.jpg"></img></li>

            <li class="search-bar">
                <input type="text" id="search-bar" name="rechercher" placeholder="Rechercher sur Twitter">
                <span class="fa fa-search"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>

<div class="grid-container">
  <aside class="sidebar">
    <div class="dashboard-profile card">
      <div class="dashboard-bg"></div>
      <div class="dashboard-infos">
        <div class="profile-picture">
          <img src="https://pbs.twimg.com/profile_images/637414809357709312/ePANi0hH_bigger.jpg">
        </div>
        <div class="profile-name"></div>
        <div class="profile-infos">
          <ul>
            <li><span>tweets</span>276</li>
            <li><span>abonnements</span>300</li>
            <li><span>abonnés</span>150</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tendance card"></div>
  </aside>

  <main role="flux-homepage" class="flux card">
    <div class="tweet"></div>
    <div class="flux"></div>
  </main>

  <aside class="sidebar">
    <div class="suggestions card"></div>
    <div class="footer card"></div>
  </aside>
</div>
