<div class="wrapper">
  <nav>
    <div class="accueil"></div>
    <div class="notif"></div>
    <div class="messages"></div>
    <div class="logo"></div>
    <div class="search-bar"></div>
    <div class="profile-shortcut"></div>
    <div class="tweet-button"></div>
  </nav>
  <aside class="sidebar side-info">
    <div class="profil"></div>
    <div class="tendance"></div>
  </aside>

  <main role="flux-homepage">
    <div class="tweet"></div>
    <div class="flux"></div>
  </main>

  <aside class="sidebar side-info">
    <div class="suggestions"></div>
    <div class="footer"></div>
  </aside>
</div>
