<nav class="nav-bar">
    <div class="grid-container">
      <div class="clearfix">
        <div class="left-nav">
          <ul>
            <li class="accueil icon">
              <a href="#" class="label-icon">
                <i class="fa fa-home fa-fw"></i>
                <span class="text">Accueil</span>
              </a>
            </li>
            <li class="notif icon">
              <a href="#" class="label-icon">
                <i class="fa fa-bell fa-fw"></i>
                <span class="text">Notifications</span>
              </a>
            </li>
            <li class="messages icon">
              <a href="#" class="label-icon">
                <i class="fa fa-envelope fa-fw"></i>
                <span class="text">Messages</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="logo"><i class="fa fa-twitter"></i></div>
        <div class="right-nav">
          <ul>
            <li class="tweeter-button">
              <button name="tweet-button">
                <i class="fa fa-pencil"></i>
                <span class="text">Tweeter</span>
              </button>
            </li>
            <li class="profile-shortcut"><img src="https://pbs.twimg.com/profile_images/637414809357709312/ePANi0hH_bigger.jpg"></img></li>

            <li class="search-bar">
                <input type="text" id="search-bar" name="rechercher" placeholder="Rechercher sur Twitter">
                <span class="fa fa-search"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>

<div class="grid-container">
  <aside class="sidebar">
    <div class="dashboard-profile card">
      <div class="dashboard-bg"></div>
      <div class="dashboard-infos">
        <div class="profile-picture">
          <img src="https://pbs.twimg.com/profile_images/637414809357709312/ePANi0hH_bigger.jpg">
        </div>
        <div class="profile-name">
          <span class="name">MarionC</span>
          <span class="mention"><a>@marioncouesnon</a></span>
        </div>
        <div class="profile-infos">
          <ul>
            <li><span>tweets</span>276</li>
            <li><span>abonnements</span>300</li>
            <li><span>abonnés</span>150</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tendance card"></div>
  </aside>

  <main role="flux-homepage" class="flux card">
    <div class="tweet-bg">
      <div class="tweet-main">
        <img class="component-picture" src="https://pbs.twimg.com/profile_images/637414809357709312/ePANi0hH_normal.jpg">
        <form class="tweet-input">
          <input placeholder="Quoi de neuf ?">
          <i class="fa fa-camera"></i>
        </form>
      </div>
    </div>
    <div class="tweet-thread">
      <div class="tweet">
          <div class="tweet-content">
            <div class="tweet-info">
              <a class="account-name">the creators project
                <img class="account-picture" src=https://pbs.twimg.com/profile_images/560648769755033600/BvWQgN2f_bigger.jpeg>
                <span class="account-link">@CreatorsProject</span>
              </a>
              <small class="time"></small>
            </div>
            <p class="title">Artist having a "quarter life crisis" creates unbelievable origami: <a class="link">http://bit.ly/1jJ1Ovi</a> </p>
            <img class="img-preview" src="https://pbs.twimg.com/media/CRcr1OJXIAEgDdg.png">
            <div class="icons">
              <div class="share-icons">
                <i class="fa fa-reply"></i>
              </div>
              <div class="share-icons">
                <i class="fa fa-retweet"></i>
                <div class="popularity-figures retweet-number">8</div>
              </div>
              <div class="share-icons">
                <i class="fa fa-star"></i>
                <div class="popularity-figures fav-number">25</div>
              </div>
              <div class="share-icons">
                <i class="fa fa-ellipsis-h"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <aside class="sidebar">
    <div class="suggestions card"></div>
    <div class="footer card"></div>
  </aside>
</div>
