<nav class="nav-bar">
    <div class="grid-container">
      <ul class="main-nav">
        <li class="accueil icon"><i class="fa fa-home"></i>Accueil</li>
        <li class="notif icon"><i class="fa fa-bell"></i>Notifications</li>
        <li class="messages icon"><i class="fa fa-envelope"></i>Messages</li>
      </ul>
      <div class="logo"><i class="fa fa-twitter"></i></div>
      <div class="search-bar">
        <form>
          <input type="text" id="search-bar" name="rechercher" placeholder="Rechercher sur Twitter">
        </form>
      </div>
      <div class="profile-shortcut"></div>
      <div class="tweet-button"></div>
    </div>
</nav>

<div class="grid2">
    <aside class="sidebar">
    <div class="profil card"></div>
    <div class="tendance card"></div>
  </aside>

  <main role="flux-homepage" class="flux card">
    <div class="tweet"></div>
    <div class="flux"></div>
  </main>

  <aside class="sidebar">
    <div class="suggestions card"></div>
    <div class="footer card"></div>
  </aside>
</div>
