<nav class="nav-bar">
    <div class="grid-container">
      <div class="clearfix">
        <div class="left-nav">
          <ul>
            <li class="accueil icon">
              <a href="#" class="label-icon">
                <i class="fa fa-home"></i>
                <span class="text">Accueil</span>
              </a>
            </li>
            <li class="notif icon">
              <a href="#" class="label-icon">
                <i class="fa fa-bell"></i>
                <span class="text">Notifications</span>
              </a>
            </li>
            <li class="messages icon">
              <a href="#" class="label-icon">
                <i class="fa fa-envelope"></i>
                <span class="text">Messages</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="logo"><i class="fa fa-twitter"></i></div>
        <div class="right-nav">
          <ul>
            <li class="tweeter-button"><button name="tweet-button"><i class="fa fa-pencil"> Tweeter</i></button></li>
            <li class="profile-shortcut"><img src="https://pbs.twimg.com/profile_images/637414809357709312/ePANi0hH_bigger.jpg"></img></li>

            <li class="search-bar">
                <input type="text" id="search-bar" name="rechercher" placeholder="Rechercher sur Twitter">
                <span class="fa fa-search"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>

<div class="grid-container">
    <aside class="sidebar">
    <div class="profil card"></div>
    <div class="tendance card"></div>
  </aside>

  <main role="flux-homepage" class="flux card">
    <div class="tweet"></div>
    <div class="flux"></div>
  </main>

  <aside class="sidebar">
    <div class="suggestions card"></div>
    <div class="footer card"></div>
  </aside>
</div>
