<nav class="nav-bar">
    <div class="grid-container">
      <ul class="left-nav">
        <li class="accueil icon"><i class="fa fa-home"></i> Accueil</li>
        <li class="icon notif "><i class="fa fa-bell"></i> Notifications</li>
        <li class="messages icon"><i class="fa fa-envelope"></i> Messages</li>
      </ul>
      <div class="logo"><i class="fa fa-twitter"></i></div>
      <ul class="right-nav">
        <li class="search-bar">
          <form>
            <input type="text" id="search-bar" name="rechercher" class="fa fa-search" placeholder="Rechercher sur Twitter">
            <span class="fa fa-search"></span>
          </form>
        </li>
        <li class="profile-shortcut"><img src="https://pbs.twimg.com/profile_images/637414809357709312/ePANi0hH_bigger.jpg"></img></li>
        <li><button name="tweet-button"><i class="fa fa-pencil"> Tweeter</i></button></li>
      </ul>
    </div>
</nav>

<div class="grid2">
    <aside class="sidebar">
    <div class="profil card"></div>
    <div class="tendance card"></div>
  </aside>

  <main role="flux-homepage" class="flux card">
    <div class="tweet"></div>
    <div class="flux"></div>
  </main>

  <aside class="sidebar">
    <div class="suggestions card"></div>
    <div class="footer card"></div>
  </aside>
</div>
